<div class="quick-add-to-cart-form">
  <%= form_tag populate_orders_path, method: :post do %>
    <div class="fields">
      <%= hidden_field_tag "variant_id", product.master.id %>
      <%= hidden_field_tag "quantity", 1 %>
      <%= button_tag :class => 'large primary add-button', :title=>"Добавить в корзину", :type => :submit do %>
    <% end %>
    </div>
  <% end %>
</div>
